<template name="sidebar">
		<div class="sidebar desktop">
			<a href="#" class="sidebar-toggle">Topics</a>
      <div id="filterFieldContainer">
        <input id="categoryFilter" type="search" class="filter-field" placeholder="Filter Topics">
      </div>
        {{#if isSubMenu }}
        <ul id="categoryList">
          <li class="home"><a href="/">x</a>{{ currentParent }}</li>
          {{#each postCategories}}
            {{> sidebar_item }}
          {{/each}}
        {{else}}
        <ul id="categoryList">
          {{#each categories}}
            {{> sidebar_item}}
          {{/each}}
        {{/if }}
      </ul>
		</div>
</template>
